body{
    /* background-image: ; */
    background-image: url(images/508976.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   background-position: center;
   font-family: 'Fondamento', cursive;
}
h1{
    font-family: 'Cutive', serif;
    color:black ;
}
.l1{
   
  border-radius: 10px;
    text-align: center;
    border: solid 1px transparent;
  
}
#navbar{
   
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
   
    
}
.nav-link{
    border: 0.2px solid red transparent ;
margin-right: 10px;
   transition: 0.6s ease-in;
}
.nav-link:hover{
    background-color:red;
}
#main{
    
   color:black;
    text-align: center;
    
 
}
.m1{
    padding: 50px 10px;
}
.btn-n{
    background-color: rgb(231, 10, 10);
    margin-top: 10px;
    color:white;
    margin-bottom: 10px;
    width: 17%;
    text-align: center;
    
}
.btn-n:hover{
  
    border: 1px solid white;
    
}
#about{
  
    text-align: center;
   
    color:white;
}
#love{
    color: white;
    margin-top: 2px;
}
#answer{
    color: white;
}
#footer{
    background-color: black;
    text-align: center;
    color:blue;
    padding: 10px;
}
